
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4dcd7;
    height: 200vh;
}

.nav_1 {
    font-size: 1.5rem;
    background-color: antiquewhite;
    /* height: 20%; */
    border: 2px solid black;
    padding: 0.5rem;
}

.atPlace {
    background-color: transparent;
    top: 0;
    position: sticky;
}

.nav_1 img {
    height: 20px;
    width: auto;
    display: inline;
}

.nav_1 li{
    text-decoration: none;
    display: inline;
    margin-inline: 1em;
}

.moving {
    border: 2px solid red;
    padding: 10px;
}

.outerSec1 {
    display: flex;
    justify-content: center;
}

.innerSec1 {
    height: 60vh;
    padding: 1%;
    border: 2px solid green;
    flex: auto;
}