
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f4dcd7;
    height: 100%
}

.header_1 {
    height: 20%;
    border: 2px solid black;
    padding: 10px;
}

.moving {
    border: 2px solid red;
    padding: 10px;
}

.outerSec1 {
    display: flex;
    justify-content: center;
}

.innerSec1 {
    height: 60vh;
}