 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: "Graphik", Helvetica, sans-serif, "Lucida Sans Unicode";
    min-height: 200vh;
    max-width: 100%;
}

p{
    text-align: justify;
    width: 40%;
    padding-block: 1rem;
}

h1 {
    width: 20%;
    padding-block: 1rem;
    font-size: 2.5rem;
}
/* a {
    text-decoration: none;
    color: gray;
} */

/* a:hover {
    color: red;
} */

.TopBar {
    background-color: transparent;
    /* position: inherit; */
}

.TopBar_Nav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    /* border: 2px solid red; */
    background-color: black;
    color: grey;
    padding: 1rem;
}

.TopBar_Nav_Elements {
    box-sizing: border-box;
}

.TopBar_Nav_Elements li {
    text-decoration: none;
    display: inline;
    /* margin-inline: 1rem; */
    padding-inline: 3vh;
}

.FixedHeading {
    top: 0;
    position: sticky;
    width: 100%;
    font-size: 1.5rem;
    color: grey;
    background-color: black;
    
    /* height: 20%; */
    border-bottom: 1px solid gray;
    padding: 1rem;
    display: block;
    /* align-items: center; */
    
}

/* .FixedHeading img {
    height: 20px;
    width: auto;
    display: inline;
} */


.FixedHeading nav{
    display: flex;
    align-items: center;
    justify-content: center; 
}



.FixedHeading li{
    text-decoration: none;
    display: inline;
    /* justify-content: space-evenly; */
    margin-inline-end: 4rem;
}

.FixedHeading a {
    text-decoration: none;
    color: gray;
}

.FixedHeading a:hover {
    color: whitesmoke;
}


.MainBody {
    /* display: flex; */
    justify-content: center;
}

.MainBody_MovingCard {
    border: 2px solid red;
    /* background-color: darkgray; */
    width: 100%;
    height: 100vh;
    padding: 1rem;
    color: white;
    background-image: url(images/RealEstate/picture4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */

.MainBody_MovingCard h1 {
    width: 20%;
    padding-block: 1rem;
    font-size: 2.5rem;
}

/* .MainBody_MovingCard p{
    width: 40%;
    padding-block: 1rem;
} */

.MainBody_Card1 {
    border: 2px solid red;
    /* background-color: darkgray; */
    background-image: url(images/Watch/pexels-bemistermister-380782.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.MainBody_Card2 {
    border: 2px solid red;
    /* background-color: darkgray; */
    background-image: url(images/Aesthetics/picture17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.MainBody_Card3 {  
    border: 2px solid red;
    /* background-color: darkgray; */
    background-image: url(images/Yacht/pexels-vincent-gerbouin-445991-2231298.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

/* .MainBody_Card h1{
    width: 20%;
    padding-block: 1rem;
    font-size: 2.5rem;
} */

.MainBody_Card p {
    width: 40%;
    padding-block: 1rem;
}

.Footer {
    width: 100%;
}
